[Desktop Entry]
Type=Application
Exec=lua ./Documents/Lua/Projects/BlueTooth_Script/main.lua
Name=BLue
Hidden=false
NoDisplay=true
Terminal=true
StartupNotify=true
X-GNOME-Autostart-enabled=true
Comment= To run on start, save file as follows: home/fivestar/.config/autostart/BLue.desktop: place on desktop and Allow Launching as well 
